@model YangWeb.Models.MultiplePassModel;
@using YangWeb.Services;

<div>
    <h4>@UserSession.GetUserSession()</h4>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerStat.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlayerStat.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerStat.Experience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlayerStat.Experience)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerStat.Health)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlayerStat.Health)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerStat.Score)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlayerStat.Score)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerStat.Score)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlayerStat.Score)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerStat.Damage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlayerStat.Damage)
        </dd>
    </dl>
</div>

<form>
    <div>
        @for (int i = 0; i < Model.AllAB.Count; i++)
        {
        <button type="submit" value="@i" name="buttonNum" asp-controller="PlayerActivity" asp-action="ClickButtonAction">
            @if (!Model.AllAB[i].ButtonState)
            {
                <img src="~/Content/Card.jpg" alt="flip cards" width="120" height="150" />
            }
            else
            {
                 <p style="width:120px; height: 150px;">@Model.AllAB[i].Action</p> 
            }

        </button>
        }

    </div>
</form>

